# Bike Stats
## Evy Haan 3/11/2019
### Bike-share data

In [1]:
import numpy as np
import pandas as pd

In [4]:
station_df = pd.read_csv('station.csv')

In [7]:
weather_df = pd.read_csv('weather.csv')

In [20]:
trip_df = pd.read_csv('trip.csv', error_bad_lines=False)

b'Skipping line 50794: expected 12 fields, saw 20\n'

In [25]:
avg_trip_duration = trip_df['tripduration'].mean()
print('Average Trip duration: ' + str(avg_trip_duration))

Average Trip duration: 1178.2956753399776

In [32]:
most_common_age = 2019 - trip_df['birthyear'].mode()
print('The most common age of a bike-sharer is: ' + str(most_common_age))

The most common age of a bike-sharer is: 0    32.0
dtype: float64

In [34]:
weather_df[:5]

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Sea_Level_Pressure_In,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events
0,10/13/2014,71,62.0,54,55,51,46,87,68,46,...,29.79,29.65,10,10,4,13,4,21,0.00,Rain
1,10/14/2014,63,59.0,55,52,51,50,88,78,63,...,29.75,29.54,10,9,3,10,5,17,0.11,Rain
2,10/15/2014,62,58.0,54,53,50,46,87,77,67,...,29.71,29.51,10,9,3,18,7,25,0.45,Rain
3,10/16/2014,71,61.0,52,49,46,42,83,61,36,...,29.95,29.81,10,10,10,9,4,-,0.00,Rain
4,10/17/2014,64,60.0,57,55,51,41,87,72,46,...,29.78,29.73,10,10,6,8,3,-,0.14,Rain

In [36]:
avg_overall_precipitation = weather_df['Precipitation_In'].mean()
print('Average overall precipitation in inches: '+ str(avg_overall_precipitation))

Average overall precipitation in inches: 0.10506531204644412

In [53]:
station_df[:5]

,station_id,name,lat,long,install_date,install_dockcount,modification_date,current_dockcount,decommission_date
0,BT-01,3rd Ave & Broad St,47.618418,-122.350964,10/13/2014,18,NaN,18,NaN
1,BT-03,2nd Ave & Vine St,47.615829,-122.348564,10/13/2014,16,NaN,16,NaN
2,BT-04,6th Ave & Blanchard St,47.616094,-122.341102,10/13/2014,16,NaN,16,NaN
3,BT-05,2nd Ave & Blanchard St,47.613110,-122.344208,10/13/2014,14,NaN,14,NaN
4,CBD-03,7th Ave & Union St,47.610731,-122.332447,10/13/2014,20,NaN,20,NaN

In [51]:
curr_avg_num_bikes = station_df['current_dockcount'].mean()
print('The average number of bikes at a given bike station is: ' + str(curr_avg_num_bikes))

The average number of bikes at a given bike station is: 16.517241379310345

In [56]:
diff_bike_nums = station_df['install_dockcount'] - station_df['current_dockcount']

In [60]:
count_decrease = 0
count_increase = 0

for val in diff_bike_nums:
    if val < 0:
        count_decrease += 1
    if val > 0:
        count_increase += 1

if count_increase > count_decrease:
    print('A bike station is more likely to gain bikes when modified.')
elif count_increase < count_decrease:
    print('A bike station is more likely to lose bikes when modified.')

A bike station is more likely to gain bikes when modified.