# Video Game Stats
## Evy Haan 3/11/2019
### Video Game Sales Data

In [1]:
import numpy as np
import pandas as pd

In [2]:
games_frame = pd.read_csv('vgsales.csv')

### Assignment Questions:

In [3]:
biggest_publisher = games_frame['Publisher'].mode()
print('The biggest video game publisher is: '+ str(biggest_publisher[0]))

The biggest video game publisher is: Electronic Arts

In [4]:
biggest_platform = games_frame['Platform'].mode()
print('The most common video game platform is: '+ str(biggest_platform[0]))

The most common video game platform is: DS

In [5]:
popularest_genre = games_frame['Genre'].mode()
print('The most popular video game genre is: '+ str(popularest_genre[0]))

The most popular video game genre is: Action

In [6]:
print('These are the top grossing games:')
games_frame[:20][['Name','Global_Sales']]

These are the top grossing games:

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

In [7]:
median_sales = games_frame['NA_Sales'].median()
print('These games had around grossed around ' + str(median_sales) + ', which is the average for North America:')
games_frame.loc[games_frame['NA_Sales'] == 0.08][:10]

These games had around grossed around 0.08, which is the average for North America:

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
446,447,Dragon Warrior IV,NES,1990.0,Role-Playing,Enix Corporation,0.08,0.00,3.03,0.01,3.12
497,498,World Soccer Winning Eleven 7 International,PS2,2003.0,Sports,Konami Digital Entertainment,0.08,1.24,1.13,0.45,2.90
1617,1619,Farming Simulator 2015,PC,2014.0,Simulation,Focus Home Interactive,0.08,1.02,0.00,0.13,1.23
1926,1928,Pro Evolution Soccer 2008,X360,2007.0,Sports,Konami Digital Entertainment,0.08,0.90,0.04,0.05,1.07
2067,2069,Winning Eleven: Pro Evolution Soccer 2007 (All...,X360,2006.0,Sports,Konami Digital Entertainment,0.08,0.90,0.02,0.00,1.00
2373,2375,Phantasy Star Portable 2,PSP,2009.0,Role-Playing,Sega,0.08,0.11,0.62,0.06,0.88
2579,2581,The Sims 2: Castaway,PSP,2007.0,Simulation,Electronic Arts,0.08,0.46,0.00,0.25,0.80
3186,3188,SingStar Queen,PS2,2009.0,Misc,Sony Computer Entertainment,0.08,0.12,0.00,0.44,0.63
3503,3505,Top Spin 3,PS3,2008.0,Action,Take-Two Interactive,0.08,0.37,0.00,0.12,0.57
3703,3705,Sonic & All-Stars Racing Transformed,PS3,2012.0,Racing,Sega,0.08,0.33,0.01,0.11,0.54

In [8]:
top_seller = games_frame[:1]
NASales_std = games_frame['NA_Sales'].std()
num_deviations = top_seller['NA_Sales'] / NASales_std

print(str(top_seller['Name'][0]) + 'the top selling game of all time, is ' + str(num_deviations[0]) + ' standard deviations above the average for North American Sales.')
top_seller

Wii Sportsthe top selling game of all time, is 50.80306374875828 standard deviations above the average for North American Sales.

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74

In [9]:
wii = games_frame['Global_Sales'].loc[games_frame['Platform'] == 'Wii'].mean()
non_wii = games_frame['Global_Sales'].loc[games_frame['Platform'] != 'Wii'].mean()
print( 'The ratio sales from of wii to other game platforms is: ' + str(wii) + ' : ' + str(non_wii))

The ratio sales from of wii to other game platforms is: 0.6994037735849057 : 0.5233896418516336

### Three Additional Questions:
- what is the average video game sales for each region: North America, European Union, and Japan?
- what were the most popular games of the 80's?
- how do the genres compare overall?

In [10]:
avg_NA_sales = games_frame['NA_Sales'].mean()
avg_EU_sales = games_frame['EU_Sales'].mean()
avg_JP_sales = games_frame['JP_Sales'].mean()
print('Average North American Sales: ' + str(avg_NA_sales) + '\nAverage European Union Sales: ' + str(avg_EU_sales) + '\nAverage Japan Sales: ' + str(avg_JP_sales))

Average North American Sales: 0.26466742981082064
Average European Union Sales: 0.14665200626581515
Average Japan Sales: 0.077781660441017

In [11]:
eighties = [1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989]
eighties_games = games_frame[games_frame.Year.isin(eighties)]
print('The top 10 selling games in the eighties were: ')
eighties_games.head(10)

The top 10 selling games in the eighties were:

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31
21,22,Super Mario Land,GB,1989.0,Platform,Nintendo,10.83,2.71,4.18,0.42,18.14
22,23,Super Mario Bros. 3,NES,1988.0,Platform,Nintendo,9.54,3.44,3.84,0.46,17.28
89,90,Pac-Man,2600,1982.0,Puzzle,Atari,7.28,0.45,0.00,0.08,7.81
96,97,Super Mario Bros. 2,NES,1988.0,Platform,Nintendo,5.39,1.18,0.70,0.19,7.46
127,128,The Legend of Zelda,NES,1986.0,Action,Nintendo,3.74,0.93,1.69,0.14,6.51
155,156,Tetris,NES,1988.0,Puzzle,Nintendo,2.97,0.69,1.81,0.11,5.58
170,171,Dr. Mario,GB,1989.0,Puzzle,Nintendo,2.18,0.96,2.00,0.20,5.34

In [13]:
modes = games_frame['Genre'].value_counts()
print('Here are the genres and their frequencies from the dataset:')
modes

Here are the genres and their frequencies from the dataset:

Action          3316
Sports          2346
Misc            1739
Role-Playing    1488
Shooter         1310
Adventure       1286
Racing          1249
Platform         886
Simulation       867
Fighting         848
Strategy         681
Puzzle           582
Name: Genre, dtype: int64